*{
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    color: white;
    list-style: none;
    }
.header{
    background-color: black;
    padding-top: 30px;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__marca{
    width: 200px;
    height: 100px;
}
.header__logo{
    height: 100%;
    width: 100%;
}
.nav{
    background-color: black;
    padding: 1rem;
}
.nav__lista {
    font-size: 25px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav__item{
    margin-left: 16px;
}
.nav__enlace{
    font-family: 'Noto Sans', sans-serif;
    color: orange;
    text-decoration: none;
}
.nav__enlace:hover{
    color: rgb(240, 209, 151);
}