/*manga comic*/

.titulomangacomic{
    text-align: left;
    display: flex;
    background-color: orange;
    font-size: 30px;
}
.barrabusqueda{
text-align: right;

}

.titulocontacto{
    font-family: $font-family;
    background-color: orange;
    border-radius: 100px;
    padding: 10px;
    margin: 60px;
    border: 3px;
}

.categories__gridmc{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 400px);
    gap: 1rem;
}
.categories__itemmc{
    background-color:#333333;
    color: #fff;
    border-radius: 0px;
    padding: 10px;
    position: relative;
}
.categories__imgmc{
    position: absolute;
    right: 50px;
    bottom: 30px;
    align-content: center;
}

.headeropen{
    display: none;
}
h2{
    text-align: center;
    background-color: #333333;
    }
.nav__itemclose{
    display: none;
}