/*manga comic*/

.titulomangacomic{
    text-align: left;
    display: flex;
    background-color: orange;
    font-size: 30px;
}
.barrabusqueda{
text-align: right;

}
.imagenesmanga{
    display: flexbox;
}
.titulocontacto{
    font-family: $font-family;
    background-color: orange;
    border-radius: 100px;
    padding: 10px;
    margin: 60px;
    border: 3px;

}
.grid-mangas{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto ;
    width: 80%;
    margin: 0 auto;
    padding: 20px;    
}

.imagenesgrid{
    width: 100%;
    height: 100%;
}



.caja1 img{
    width: 100%;
    height: 100%;
    
}

.caja2 img{
    width: 100%;
    height: 100%;
}
.caja3 img{
    width: 100%;
    height: 100%;
}
.caja4 img{
    width: 100%;
    height: 100%;
}
.caja5 img{
    width: 100%;
    height: 100%;
}
.caja6 img{
    width: 100%;
    height: 100%;
}
.caja7 img{
    width: 100%;
    height: 100%;
}
.caja8 img{
    width: 100%;
    height: 100%;
}
.caja9 img{
    width: 100%;
    height: 100%;
}
.caja10 img{
    width: 100%;
    height: 100%;
}

.caja1{
    width: 180px;
    height: 250px;
    border: 4px solid orange;
    background-color: orange;
    margin: 15px;
    text-align: center;
    line-height: 150px;
}
.caja2{
    width: 180px;
    height: 250px;
    border: 4px solid orange;
    background-color: orange;
    margin: 15px;
    text-align: center;
    line-height: 150px;
}
.caja3{
    width: 180px;
    height: 250px;
    border: 4px solid orange;
    background-color: orange;
    margin: 15px;
    text-align: center;
    line-height: 150px;
}
.caja4{
    width: 180px;
    height: 250px;
    border: 4px solid orange;
    background-color: orange;
    margin: 15px;
    text-align: center;
    line-height: 150px;
}
.caja5{
    width: 180px;
    height: 250px;
    border: 4px solid orange;
    background-color: orange;
    margin: 15px;
    text-align: center;
    line-height: 150px;
}
.caja6{
    width: 180px;
    height: 250px;
    border: 4px solid orange;
    background-color: orange;
    margin: 15px;
    text-align: center;
    line-height: 150px;
}
.caja7{
    width: 180px;
    height: 250px;
    border: 4px solid orange;
    background-color: orange;
    margin: 15px;
    text-align: center;
    line-height: 150px;
}
.caja8{
    width: 180px;
    height: 250px;
    border: 4px solid orange;
    background-color: orange;
    margin: 15px;
    text-align: center;
    line-height: 150px;
}
.caja9{
    width: 180px;
    height: 250px;
    border: 4px solid orange;
    background-color: orange;
    margin: 15px;
    text-align: center;
    line-height: 150px;
}
.caja10{
    width: 180px;
    height: 250px;
    border: 4px solid orange;
    background-color: orange;
    margin: 15px;
    text-align: center;
    line-height: 150px;
}
.headeropen{
    display: none;
}
h2{
    text-align: center;
    background-color: #333333;
    }
.nav__itemclose{
    display: none;
}