/*pagina novedades */

.titulonovedades{
    background-color: red;
    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: double;
    border-radius: 10px;
}
.titulonovedadesdos{
    font-size: 30px;
    background-color: orange;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 80px;
}
.preventaimg{
   border-radius: 10px;
   width: 900px;
   height: 500px;
   margin-left: 500px;
}
.descuento{
   font-size: 20px;
   padding-top: 100px;
   padding-bottom: 100px;
}

.fotodesc{
   margin-left: 100px;
}

.promotext{
   background-color: red;
   text-align: center;
   font-family: $font-family;
   font-size: 25px;
}